.product-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрує товари */
  gap: 20px;
  padding: 20px;
}

.product-card {
  flex: 1 1 250px;
  max-width: 250px;
  background-color: #262626;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.product-card img {
  max-width: 100%;
  border-radius: 4px;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #e0e0e0;
}

.product-card p {
  font-size: 14px;
  color: #b0b0b0;
}

.product-card .btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ff6584;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.product-card .btn:hover {
  background-color: #aa34a6;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #262626;
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}

.sidebar.open {
left : 0;
}
.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff6584;
}

.filter,.search {
  width: 196px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: white;
  margin-top: 10px;
}

.search{
  width: 175px;
}
main{
  position: relative;
}
.sidebar-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ff6584;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-btn:hover {
  background-color: #aa34a6;
}
@media (min-width: 768px) {
  .product-card {
    padding: 12px;
  }
}

@media (min-width: 1280px), print {
  .product-card {
    --name-visible-line-of-text: 2;
    --name-font-size: 14px;
    --name-line-height: 20px;
    --image-spacing: 16px;
    --badges-bar-height: 24px;
    --badge-font-size: 12px;
    --badge-padding: 4px 8px;
    --swatch-size: 38px;
    --swatch-gap: 8px;
    --swatch-border-radius: 4px;
    --swatch-more-font-size: 13px;
    --info-font-size: 12px;
    --info-line-height: 16px;
  }
}
