
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* Виділення тексту (без тіней) */
::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}
::selection {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

/* Горизонтальна лінія */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Стилізація мультимедійних елементів */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Приховування елементів для доступності */
.hidden,
[hidden] {
  display: none !important;
}
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* Clearfix для контейнерів з флоатами */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}


/* Загальні стилі сторінки */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0 50px;
  background-color: #181818;
  color: #e0e0e0;
}

/* Фіксовані бокові смуги */
body::before,
body::after {
  content: '';
  display: block;
  background-color: #121212;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
body::before {
  left: 0;
}
body::after {
  right: 0;
}

/* Header (верхня частина сайту) */
header {
  background: #1c1c1c;
  color: #e0e0e0;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  position: relative;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #ff6584;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
header nav ul li a:hover {
  color: #ff6584;
}
header nav ul li a:hover::after {
  transform: scaleX(1);
}
/* Кнопка для мобільного меню */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: auto;
}

/* Основний контент */
main {
  margin-top: 20px;
  padding: 20px;
  background-color: #202020;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to right, #ff6584, #aa34a6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
p {
  color: #a5a5a5;
}
.admin {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.admin-link {
  display: block;
}

.admin-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid  #ff6584;
  object-fit: cover;
}

/* Footer (нижня частина сайту) */
footer {
  text-align: center;
  background: #1c1c1c;
  color: #e0e0e0;
  padding: 10px 0;
  border-top: 1px solid #333;
  margin-top: 50px;
}

/* ==========================================================================
   Медіа-запити для адаптивного дизайну
   ========================================================================== */
@media (max-width: 1024px) {
  body::before,
  body::after {
    display: none;
  }
  body {
    padding: 0 20px;
  }
  header nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  header nav ul li {
    margin: 5px 10px;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #1c1c1c;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
  }
  .menu-toggle {
    display: block;
  }
  header nav ul.open {
    display: flex;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  main {
    padding: 15px;
  }

}
